<!--
    Homepage.
    base the design from this link https://getbootstrap.com/docs/4.0/examples/carousel/
    replacing the Three columns of text below the carousel a form with the following fields
    - Parent Site URL
    - Child Site URL
    then the submit button
    the form should utlize base template
    and post to the / endpoint
    the form should be validated
-->
{% extends "base.html" %}

{% block content %}
<div class="container">
    <div class="p-5 mb-4 rounded-3">
      <div class="container-fluid py-5">
        <form action="/" method="post">
            <div class="form-group">
                <label for="parent_site">Parent Site URL</label>
                <input type="text" class="form-control" id="parent_site" name="parent_site">
            </div>
            <div class="form-group">
                <label for="child_site">Child Site URL</label>
                <input type="text" class="form-control" id="child_site" name="child_site">
            </div>
            <button type="submit" class="btn btn-primary">Submit</button>
        </form>
        </div>
        <div class="container">
            <h1>Migration History.</h1>
            <div class="row">     
                {% for result in results %}
                    <div class="col-sm-4">
                        <div class="card mb-3">
                            <div class="card-body">
                                <div class="row">
                                    <div class="col-sm-6">
                                        <h5 class="card-title">Parent Site</h5>
                                        <p class="card-text">{{ result.parent_site }}</p>
                                    </div>
                                    <div class="col-sm-6">
                                        <h5 class="card-title">Child Site</h5>
                                        <p class="card-text">{{ result.child_site }}</p>

                                    </div>
                                </div>

                                <p><b> Date Synced </b>: {{ result.timestamp }}</p>
                                    <form action="/" method="post">
                                        <input type="hidden" value="{{ result.parent_site }}" class="form-control" id="parent_site" name="parent_site">
                                        <input type="hidden" class="form-control" value="{{ result.child_site }}" id="child_site" name="child_site">
                                        <button type="submit" class="btn btn-primary">re synch</button>
                                    </form>
                                <!-- this is a form that call the  -->
                            </div>
                        </div>
                    </div>
                {% endfor %}
            </div>
        </div>
    </div>
</div>

{% endblock %}